# Class exercise 1
![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [8]:
#The next cell should be a code cell 
#that can take 2 numbers from a user input and multiply them printing out the result.
first = input("Enter the first number: ")
sec = input("Enter the second number: ")

print("Total: " + str(int(first) * int(sec)))

Enter the first number: 10
Enter the second number: 10
Total: 100

In [13]:
#01-3
#Use the range() function to make a list of the odd numbers from 1 to 20. 
#Hint in ipython and this notebooks you can see a functions help text by executing for example range?
oddList = list(range(1,20,2))
print(oddList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
#2
#Create a list with the even number values from two to one million. 
#Use min(list) and max(list) to make sure your list actually starts at two and ends at one million. 
#Also, use the sum(list) function to compute the sum of all values.
stabilList = list(range(2, 1000001))
print(min(stabilList))
print(max(stabilList))
print(sum(stabilList)+1)

2
1000000
500000500000

In [32]:
#3
#Create a list of the multiples of 3 - going from 3 to 300. HINT: USE A LIST COMPREHENSION
new_list = [element*3 for element in range(1,101)]
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

In [34]:
#4
#A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. 
#Create a list of the first 10 cubes (that is, the cube of each integer from 1 through 10).
new_list = [element**3 for element in range(1,11)]
print(new_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [40]:
#01-4
#A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.
input_month = input("Enter a date in the form D-MMM-YY (8-MAR-85)")
month = {'JAN': 1, 'FEB': 2, "MAR": 3}

splitted = input_month.split("-")
splitted[1] = month[splitted[1].upper()[0:3]]

print(splitted[0]+ '-' + str(splitted[1])+ '-' + splitted[2])

Enter a date in the form D-MMM-YY (8-MAR-85)8-MARlmaoaoaoaoaooaoaoaoaoao-85
8-3-85